.top_container{

  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;

}
.dev{
  text-decoration: underline;
  font-size: 2.5rem;
}
/*************************************************** Display properties*********************************************************/
/*-->Block(That no allow any element to place next to it)
-->inline(That allow element to place next to it but using this we are not able to increase or dicrease the width or height)
-->inline-Block(that allow everything that not provide by inline)
-->none(that basically remove the element)*/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;


}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{

   color: #11999E;
   font-family: 'Montserrat', sans-serif;

}
p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom:none;
  width: 4%;
  margin: 100px auto;
}
.bottom-container{
  background-color: #6cbfbf;
  padding: 50px 0 20px;


}
a{
  color : #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.middle-container{

margin: 100px 0;
}
.intro{
width: 40%;
margin: auto;
}
.contact-sms{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/*************************************************** Relative Position *********************************************************/
/*postion:relative;
this is work on the basis of its own relative postion
top:100px;
left:100px;
reight:100px;
bottom:100px;
****html****
<body>
<div class="red">

</div>
<div class="blue">

</div>
<div class="yellow">

</div>
</body>

****css****
.red{
  width:100px;
  height:100px;
  background-color:red;
  display:inline-block;
  position:relative;
  left:200px;


}
.blue{
  width:100px;
  height:100px;
  background-color:blue;
  display:inline-block;
   position:relative;
  right:100px;
}
.yellow{
  width:100px;
  height:100px;
  background-color:yellow;
  display:inline-block;
  position:relative;
  right:100px;
}

*/
/*************************************************** Absolute Position*********************************************************/

/*this is work on the basis or relative to its parent.
***css***
.red{
  width:100px;
  height:100px;
  background-color:red;
  position:absolute;
  left:210px;
  top:210px;
}
.blue{
  width:100px;
  height:100px;
  background-color:blue;
  position:absolute;
  left:110px;
  top:110px;

}
.yellow{
  width:100px;
  height:100px;
  background-color:yellow;

}
*/
/*************************************************** Fixed Position*********************************************************/
/* that is work on the basis of to fix the position of element likefix nav bar postion through out the website.*/

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.blogger{

width: 25%;
float: right;
margin-left: 30px;
}
.developer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;

  text-align: left;

}
